.container {
  width: 80% !important;
}

header {
  background: #f5f9fe;
  box-shadow: 0 2px 4px #e2ebfc;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container a {
  text-decoration: none;
  margin-right: 15px;
  color: #1d365e;
  transition: 0.3s;
  position: relative;
}
header .container a:hover {
  color: #2a73dd;
}
header .container a::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  width: 0px;
  height: 2px;
  background: #2a73dd;
  transition: 0.3s;
}
header .container a:hover::before {
  width: 100%;
}
header .container .logo {
  color: #2a73dd;
}

.banner {
  background-image: url(../../image/product-header-bg.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
.banner .infor h2 {
  color: #2a73dd;
}
.banner .infor h3 {
  color: #1d365e;
}
.banner .infor .btn-infor {
  border: 2px solid #2a73dd;
  color: #2a73dd;
  padding: 15px 45px;
  border-radius: 8px;
  font-size: 14px;
}
.banner .infor .btn-shop {
  margin-left: 10px;
  background: linear-gradient(120deg, #60a4f4, #2a73dd);
  color: #fff;
  padding: 17px 51px;
  border-radius: 8px;
  font-size: 14px;
}

.products {
  background: #f5f9fe;
  padding: 80px 0;
}
.products h2.title {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: #1d365e;
  margin-bottom: 50px;
}
.products .list .item {
  box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  border-radius: 8px;
  padding: 30px;
}
.products .list .item .wrapper img {
  box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  border-radius: 8px;
}/*# sourceMappingURL=index.css.map */